codecarbon
connectorx
dotenv
inscriptis
jinja2
lxml
matplotlib
nltk
pandas
playwright
playwright-stealth
polars
pyarrow
pytest
requests
scikit-learn
sentence-transformers
sphinx
sphinx_rtd_theme
sqlalchemy
mistralai
fastembed
